h3{
  text-align: center;
  color: rebeccapurple;
}
.card{
  text-align: center;
  padding:20px;
  margin:20px;
}

.panel{
  width: 150%;
  padding:50px;
  margin:30px;
  box-shadow:10px 10px 10px 0;
  background-color:lawngreen;
}
 .btn-success{
   text-align: center;
   width: 50%;
 }
  .btn-group-sm>.btn, .btn-sm { 
 text-align: center; 
 }